/*  =============
    variables 
    =============*/
:root {
  /* Colors */
  --light-shades: #FBF6F5;
  --light-shades-alt: #fbf6f5b0;
  --light-accent: #36D0E1;
  --primary: #63ABC3;
  --dark-accent: #3EB1C9;
  --dark-shades: #12232D;
  --light-other: #12232d18;
  /* Fonts */
  --headings-font: "Shadows Into Light Two";
  --body-font: "Poppins";
}

/*  =============
    global styles 
    =============*/
body {
  color: var(--dark-shades);
  font-family: var(--body-font), sans-serif;
  font-size: 100%;
}

main, aside, footer p {
  width: 80%;
  max-width: 980px;
  margin: 0 auto;
}

/*  =============
    typography 
    =============*/
h1,
h2,
h3 {
  font-family: var(--headings-font), cursive;
  font-size: 3rem;
  font-weight: bold;
}

h1 {
  font-size: 3.5rem;
  padding: 0 2rem;
}

h2 {
  margin: 3rem 0 1rem;
}

h3 {
    font-size: 2rem;
    margin: 1.5rem 0 1rem;
}

.date {
  font-family: var(--body-font);
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primary);
  margin: 1rem 0 2rem;
}

p {
  line-height: 1.6;
  font-size: 1.1rem;
}

header p {
  padding: 1rem 0 2rem;
  font-size: 1.2rem;
  color: var(--light-shades-alt);
}

a:link, a:visited {
    text-decoration: none;
    color: var(--light-accent);
}

a:hover, a:focus, a:active {
    color: var(--dark-accent);
    text-decoration: underline;
    outline: none;
}

nav a:link, nav a:visited {
  color:var(--light-shades);
  font-size: 1.2rem;
  transition: all 0.3s;
}

nav a:focus, nav a:hover, nav a:active {
    color: var(--light-accent);
    text-decoration: none;
}

/*  =============
    layout 
    =============*/

header {
  background-color: var(--primary);
  text-align: center;
  color: var(--light-shades);
  padding-top: 4rem;
}

nav {
  background-color: var(--dark-shades);
  margin-bottom: 3rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
    padding: 1.5rem 2.6rem;
}

section {
  display: flex;
  flex-direction: column;
}

/*  =============
    components 
    =============*/

main img {
  border-radius: 5px;
  margin-bottom: 2rem;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

table {
    box-shadow: 0 0 30px rgba(0,0,0,.3);
}

th {
    background-color: var(--primary);
    color: white;
    text-align: left;
    font-weight: bold;
    padding: 1.5rem 1rem;
    letter-spacing: 1px;
}

td {
    padding: 1.5em 1rem;
    border-bottom: 2px solid var(--light-other);
}

footer {
    background-color:#0c1c25;
    color: white;
    text-align: center;
    padding: 3rem 0 1rem;
}

footer p {
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
    color: var(--light-shades-alt);
}

#newsletter {
    padding: .5rem 10% 4rem;
    margin-top: 3.5rem;
    background-color: var(--dark-shades);
    color: var(--light-shades);
}

input {
    font-family: var(--body-font);
}

form label {
    display: block;
    margin: 1rem 0 .5rem;
}

input[type=text] {
    padding: 1rem;
    border: 2px solid transparent;
    background-color: #fbf6f510;
    color: var(--light-shades);
    border-radius: 10px;
    font-size: 1rem;
    width: 90%;
    transition: all 0.3s;
}

input[type=text]:focus, input[type=text]:hover {
    border: 2px solid var(--dark-accent);
    outline: none;
}

input[type=submit] {
    width: 10rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding: .5rem 0;
    margin-top: 1rem;
    border-radius: 10px;
    border: none;
    background-color: var(--dark-accent);
    color: var(--light-shades);
    transition: all 0.3s;
}

input[type=submit]:focus, input[type=submit]:hover, input[type=submit]:active {
    background-color: var(--light-accent);
    cursor: pointer;
}

/*  =============
    desktop 
    =============*/
    @media screen and (min-width: 830px) {
      main img {
        width: fit-content;
        float: left;
        margin-right: 2rem;
      }

      article:nth-child(even) img {
        float: right;
        margin-right: 0;
        margin-left: 2rem;
      }

      #story {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 3rem;
      }

     #story h2 {
       align-self: center;
       margin-right: auto;
     }
    }

    @media screen and (min-width: 1000px) {

      #newsletter {
        margin-bottom: 3.5rem;
        border-radius: 10px;
        box-shadow: 0 0 30px rgba(0,0,0,.3);
        padding: .5rem 3rem 4rem;
      }

    #newsletter form ul:first-child {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr auto;
      gap: 1rem 2rem;
    }

    #newsletter h3 {
      margin-top: 0;
    }

    #newsletter form ul:nth-child(2) {
      display: flex;
      justify-content: space-around;
    }

    #newsletter form ul li:nth-child(4) {
      grid-column: 1 / -1;
      grid-row: 2;
      
    }

    input[type=submit] {
      width: 100%;
    }
  }